<html>
<head>
  <link rel-"stylesheet" href="display.css">
  <script
    src="{{ url_for('static', filename="js/moment.min.js") }}">
  </script>
</head>
<body>
  <table style="width:100%">
    {% for item in items %}
      <tr>
        <td> {{ item.name }} </td>
        <td> {{ item.km }} </td>
        <td> {{ item.open }} </td>
        <td> {{ item.close }} </td>
      </tr>
    {% endfor %}
</body>
</html>
